<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>授权登陆页面</title>
    <meta deviceName="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/local/havcs/css/weui.min.css"/>
    <link rel="stylesheet" href="/local/havcs/css/weuix.css"/>
    <link rel="stylesheet" href="/local/havcs/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="/local/havcs/css/materialdesignicons.min.css" type="text/css"/>
    <link rel="shortcut icon" href="/local/havcs/images/favicon.ico" type="image/x-icon"/>
    <script src="/local/havcs/js/vue.min.js"></script>
    <script src="/local/havcs/js/vue-resource.min.js"></script>
    <script src="/local/havcs/js/vue-router.min.js"></script>
    <script src="/local/havcs/js/ha.js"></script>
    <script src="/local/havcs/js/jquery.min.js"></script>
    <script src="/local/havcs/js/jquery-weui.min.js"></script>
    <style>
        .page-hd-title {
            text-align: center;
            font-size: 20px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }
        .blank {
            height: 2.0em;
            display:block;
        }
        .weui-cell{
            padding: 10px 15px;
        }
        .weui-loadmore{
            font-size: 17px;
        }
    </style>
</head>
<body ontouchstart  class="page-bg">
<div id="app">
    <div class="page-hd" >
        <h1 class="page-hd-title">
                {{ notice.title }}
        </h1>
        <div class="page-hd-desc">
    
        </div>
    </div>
    <div class="blank"></div>
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">您即将授权 "{{client_id}}" 访问 Home Assistant 实例</span>
    </div>
    <form method="post" name="form" @submit.prevent="onSubmit">
        <div class="weui-cells__title">用户登录</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">用户名：</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" v-model="username" placeholder="请输入用户名" required/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">密码：</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" v-model="password" placeholder="请输入密码" required/>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <div class="weui-btn-area">
            <!-- <a href="javascript:document.form.submit();" class="weui-btn weui-btn_primary">登陆</a> -->
            <input type="submit" class="weui-btn weui-btn_primary" value = "登陆">
        </div>
    </form>

    <div class="blank"></div>
    <div class="weui-footer">
    </div>
</div>
<script>
var vm = new Vue({
  el: '#app',
  data: {
        notice:{
            title:'Home Assistant Voice Control Service - 智能音箱接入Home Assistant方案',
            noticeList:[],
        },
        username: '',
        password: '',
        client_id: ''
  },
    created:function(){
        this.client_id = this.getQueryString('client_id');
        this.getNotice();
  },
    methods: {
        getNotice(){
        },
        onSubmit(){
            const that=this;
            this.$http.post(
                window.location.href,
                {   username: this.username,
                    password: this.password
                },
                {emulateJSON:true}
                ).then(
                function (res) {
                    if(res.data.code=="ok"){
                        window.location.href=res.data.data.location
                    }else{
                        $.toast(res.data.Msg, "forbidden");
                    }
                },function (err) {
                    // console.log(err.status);
                    $.toast("网络错误", "cancel");
                }
            );
        },
        getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            var q = window.location.pathname.substr(1).match(reg_rewrite);
            if(r != null){
                return decodeURIComponent(r[2]);
            }else if(q != null){
                return decodeURIComponent(q[2]);
            }else{
                return null;
            }
        },
        parseQuery(url) {
            let o = {};
            let queryString = url.split("?")[1];
            if (queryString) {
                queryString.split("&").forEach(item => {
                let [key, val] = item.split("=");
                val = val ? decodeURIComponent(val) : true;
                if (o.hasOwnProperty(key)) {
                    o[key] = [].concat(o[key], val);
                } else {
                    o[key] = val;
                }
                });
            }
            return o;
        }
    }
});

</script>
</body>
</html>